@model Album

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>



<div class="media">
    <img class="align-self-start mr-3" src="@Model.AlbumArtUrl" alt="@Model.Title">
    <div class="media-body">
        <p><em>@Html.DisplayNameFor(m => m.Genre)</em> @Html.DisplayFor(m => m.Genre.Name)</p>
        <p><em>@Html.DisplayNameFor(m => m.Artist)</em> @Html.DisplayFor(m => m.Artist.Name)</p>
        <p><em>@Html.DisplayNameFor(m => m.Price)</em> @Html.DisplayFor(m => m.Price)</p>
        <p>
            <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-area="" asp-route-id="@Model.AlbumId">Add to Cart</a>
        </p>
    </div>
</div>