@model ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h3>
        <em>Review</em> Your carts:
    </h3>
</div>
<div class="row">
    <p class="button">
        @Html.ActionLink("Check out >>", "AddressAndPayment", "Checkout")
    </p>

    <div id="update-message">
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Album Name
                </th>
                <th scope="col">
                    Price (each)
                </th>
                <th scope="col">
                    Quantity
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordId">
                    <td>
                        @*@Html.ActionLink(item.Album.Title, "Details", "Store", new { id = item.AlbumId })*@
                        <a asp-action="Details" asp-controller="Store" asp-area="" asp-route-id="@item.AlbumId">@item.Album.Title</a>
                    </td>
                    <td>
                        @Html.DisplayFor(m => @item.Album.Price)
                    </td>
                    <td id="item-count-@item.RecordId">
                        @Html.DisplayFor(m => @item.Count)
                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">
                            remove from cart
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <span>total: <strong>@Html.DisplayFor(m => m.CartTotal)</strong></span>
</div>


@section scripts
{
    <script src="~/js/pages/shoppingcart-page.js"></script>
}