<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark mb-4">
            @Html.ActionLink("ASP.NET MVC MUSIC STORE", "index", new { controller = "home" }, new { @class = "navbar-brand", id = "link-logo" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="first nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Store", "Index", "Store", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.Action("CartSummary", "ShoppingCart")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Admin", "Index", new { controller = "StoreManager" }, new { @class = "nav-link" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    <main>
        @Html.Action("GenreMenu", "Store")

        <div id="main">
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">built with <a href="http://asp.net/mvc">ASP.NET MVC 5</a></span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>